<router-outlet></router-outlet>
<!-- <app-simple-calculator></app-simple-calculator>
  <app-simple-calculator></app-simple-calculator>
  <app-rxjs-calculator></app-rxjs-calculator>
  <app-rxjs-calculator></app-rxjs-calculator>
  <app-ngrx-calculator></app-ngrx-calculator>
  <app-ngrx-calculator></app-ngrx-calculator>
  <app-ngrx-cmp-calculator></app-ngrx-cmp-calculator>
  <app-ngrx-cmp-calculator></app-ngrx-cmp-calculator>
  <app-ngrx-cmp-local-calculator></app-ngrx-cmp-local-calculator>
  <app-ngrx-cmp-local-calculator></app-ngrx-cmp-local-calculator>
  <app-ngrx-calcuator2></app-ngrx-calcuator2>
  <app-ngrx-calcuator2></app-ngrx-calcuator2> -->
