<!-- <ul>
  <li><a routerLink="ngrx">ngrx calculator</a></li>
  <li><a routerLink="rxjs">rxjs calculator</a></li>
  <li><a routerLink="simple">simple calculator</a></li>
</ul>

<router-outlet> </router-outlet> -->

<div class="demo-container">
  <app-simple-calculator></app-simple-calculator>
  <app-simple-calculator></app-simple-calculator>
  <app-rxjs-calculator></app-rxjs-calculator>
  <app-rxjs-calculator></app-rxjs-calculator>
  <app-ngrx-calculator></app-ngrx-calculator>
  <app-ngrx-calculator></app-ngrx-calculator>
  <app-ngrx-cmp-calculator></app-ngrx-cmp-calculator>
  <app-ngrx-cmp-calculator></app-ngrx-cmp-calculator>
  <app-ngrx-cmp-local-calculator></app-ngrx-cmp-local-calculator>
  <app-ngrx-cmp-local-calculator></app-ngrx-cmp-local-calculator>
</div>
